* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #333;
  min-height: 100%;
}

a {
  color: #fff;
}

.row {
 
  margin-bottom: 50px;

}
.dupa{
  display: flex;
  flex-direction: row;
}
// .row img {
//   max-width: 100%;
//   height: auto;
//   padding-left:0;
//   margin: 0;
// }
.gallery ul li {
  float: left;
  margin: 0 0.8771929825%;
  overflow: hidden;
  -webkit-box-shadow: 7px 13px 31px -12px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 7px 13px 31px -12px rgba(0, 0, 0, 0.78);
  box-shadow: 7px 13px 31px -12px rgba(0, 0, 0, 0.78);
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 1px darkgray solid;
  width: 100vh;
}

header {
  background: rgb(77, 63, 47);
  color: darkgray;
  text-align: center;
  padding-bottom: 120px;
}
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 0.8;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;


}
header h1 span {
  margin-top: 3rem;
  font-size: 30px;
  
}
header p {
  padding-top: 30px;
}




.gallery {
  max-width: 50%;
  margin-top: 40px;
  @media (max-width: 720px) {
    max-width: 200px;

    }
  

}




.description{
 
  float: left;
  width: 70%;
  max-height: 100%;
  padding: 0 10px 10px;
  overflow: auto;
  font-size: 1.8rem;
  &__item{
    
    float: left;
    width: 45%;
    max-height: 100%;
    padding: 0 10px 10px;
    overflow: auto;
    font-size: 1.8rem;
    padding-left: 3rem;
    line-height: 35px

  }
    
}



.rwd-table {
  
  margin-top: 10rem;
  margin: 1em 0;
  min-width: 300px; // adjust to your 
  font-size: 1.2rem;
  
  
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    display: none; // for accessibility, use a visually hidden method here instead! Thanks, reddit!   
  }
  
  td {
    display: block; 
    
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th)": "; // who knew you could do this? The internet, that's who.
      

      // optional stuff to make it look nicer
      width: 6.5em; // magic number :( adjust according to your own content
      display: inline-block;
      // end options
      
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    text-align: left;
    
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      
      &:first-child {
        padding-left: 0;
      }
      
      &:last-child {
        padding-right: 0;
      }
    }

  }
  
  
}
.rwd-table {
  font-size: 1.7rem;
  margin-top: 4rem;
  color: black;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: rgb(0, 0, 0);
    font-size: large;
  }
}


.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}

.beige{   // berzowy
  background-color: #c1a097;
} 

.nut{   // orzech
  background-color: #54291b;
} 
.wenhe{   // wenhe
  background-color: #39261d;
} 
.natural{   // naturalny
  background-color: #eebf9a;
} 
.nuts{   //lakier orzech
  background-color: #7f4f39;
} 
.white{   //lakier biały
  background-color: #ffffff;
} 
.wenhes{   //lakier wehne
  background-color: #5b433f;
} 
.naturals{   //lakier naturalnu
  background-color: #eec3a0;
} 













.sphere {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  
  position: relative;
 
  display: inline-block;
 margin-left: 2px;
 margin-right: 2px;
 border: darkgrey 1px solid;
}
h2{
  padding-left: 1rem;
}
.description__image{
  padding-top: 60px;
  line-height: 35px;
  font-size: 2rem;
  text-indent: 3%
}


.accesory{
text-align: center;
  &__header{
color: red;
  }
}

.text__about{
font-size: 10rem;
}



.person{
  padding: 40px 0 20px;
  max-width: 1200px;
  margin: 0 auto;
position: relative;
}
.person:before,
.person:after{
  clear: both;
  content: "";
  display:table;
}
.persons .person{
  width: 25%;
  margin-bottom: 20px;
  display: table;
  float: left;
  border-left: 20px solid transparent;
  cursor: pointer ;
}
.persons .person .avatar{
  width: 100%;
  display: block;
  text-align: center;

}
.persons .person .avatar img{
 
 display: inline-block;
 width: 100%;
 vertical-align: middle;
 -webkit-box-shadow: 7px 13px 31px -12px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 7px 13px 31px -12px rgba(0, 0, 0, 0.78);
  box-shadow: 7px 13px 31px -12px rgba(0, 0, 0, 0.78);
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 1px darkgray solid;
}

.persons .person.active .avatar img{
  border-color: whitesmoke;

}

.persons .person .fullname{
  width: 100%;
  display: block;
  text-align: center;
  font-family: Arial;
  color: black;
  font-size: 20px;
  padding: 10px 0 5px;

}

.persons .person .title{
  width: 100%;
  display: block;
  text-align: center;
  font-family: Arial;
  color: black;
  font-size: 15px;
  

}


.persons .person .js-description{
 display: none;
  

}
.persons  .js-dropdown{
  background-clip: padding-box !important;
  border: 0 solid transparent;
  box-sizing: border-box;
  float: left;
  padding: 0;
  margin: 40px 0 20px;
  width: 100%;
  display: table;
  border-color: transparent;
   border-image: none;
   border-style: solid;
   border-width: 0 0 10px 20px;

 
 }
 .persons .js-dropdown:before,
 .persons .js-dropdown:after{
   clear: both;
   content: "";
   display: table;
 }


.persons .js-dropdown .js-dropdown-content{
  background: none repeat scroll 0 0 #ffffff;
  
  position: relative;
  width: 100%;
  padding: 48px 32px 0 ;
  -webkit-box-shadow: 7px 13px 31px -12px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 7px 13px 31px -12px rgba(0, 0, 0, 0.78);
  box-shadow: 7px 13px 31px -12px rgba(0, 0, 0, 0.78);
  border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border: 1px darkgray solid;
}
// .persons .js-dropdown .js-dropdown-content .js-dropdown-arrow{
//   position: absolute;
//   bottom: 100%;
//   left: 100%;
//   width: 0;
//   height: 0;
//   margin-left: -55px;
//   border: 30px solid transparent;
//   border-bottom-color: #d35050;
// pointer-events: none;
// transition: left 0.3s;
// }

.persons .js-dropdown .js-dropdown-content p{
  line-height: 25px;
  margin: 0 0 40px;
  padding: 0;
  font-size: 15px;
}




.fullname__description{
  margin: 1rem !important;
  padding: 0 !important;
  font-size: 2rem !important;
  
  
}