@import "_normalize";
@import "_variables";
@import "navigation";
@import "parallax";
@import "about";
@import "contacts";
@import "furniture";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext');






html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: black;
  background: whitesmoke;
  font-family: 'Lato', sans-serif;
}