@import "_normalize";
@import "_variables";
@import "navigation";
@import "parallax";
@import "about";
@import "contacts";
@import "gallery";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap&subset=latin-ext');
@import "offer";







html {
  box-sizing: border-box;
  font-size: 16px;  
  scroll-behavior: smooth;
  @media (max-width:720px ) {
    font-size: 12px;
  }
  @media (min-width:720px ) {
    font-size: 16px;
    padding: 0;
    margin: 0 auto;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: black;
  
  font-family: 'Lato', sans-serif;
  margin: auto auto;
}
