.wrapper-rodo {
    background-color: #f2f2f2;
    padding-bottom: 20px;
}

.wrapper-rodo__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

    @media (max-width: 720px) {
        width: 80%;

    }
}

.wrapper-rodo__body {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    padding: 4%;
    padding-bottom: 0;

    @media (max-width: 720px) {
        margin-left: 5%;
        margin-right: 5%;

    }
}

.rodo__list {
    list-style: decimal;
}